<template>
	<ion-page>
		<div id="contentBody">
			<ion-content id="icontent" scrollEvents="false">
				<!-- <div class="searchWrapper" v-if="this.isSearch">
					<span class="searchBar">
						<input
							class="searchInput"
							placeholder="Enter recording name to search"
							v-model="searchValue"
						/>
						<ion-icon @click="searchReset" :icon="close"></ion-icon>
					</span>
				</div> -->

				<div class="searchedWord">
					<!-- <ion-icon
						v-if="!this.isSearch"
						@click="toggleSearchBox"
						class="searchOpen"
						:icon="search"
					></ion-icon> -->
					<ion-icon
						@click="toggleSidebar"
						class="searchOpen"
						:icon="addSharp"
					></ion-icon>
					<!-- <ion-icon
						v-if="this.isSearch"
						@click="toggleSearchBox"
						class="searchClose"
						:icon="close"
					></ion-icon> -->
					<audio controls id="wordAudio" v-if="this.word">
						<source :src="this.word.sound" type="audio/mpeg" />
						Your browser does not support the audio element.
					</audio>
					<ion-icon
						class="record"
						:icon="mic"
						@click="toggleRecordPanel()"
					></ion-icon>
				</div>
				<!-- <div v-if="this.searchedWordResult"></div> -->
				<div id="contentWrapper">
					<!-- ******** SEARCH BAR ******** -->
					<!-- <ion-searchbar
						class="searchWrapper"
						placeholder="Enter a word to search"
                        showCancelButton="true"
                        debounce="0"
                        :value="searchInput"
                        @ionInput="searchInput = $event.target.value; onInput$.next($event.target.value)"
                        @ionClear="searchCleared($event)"
					></ion-searchbar> -->

					<!-- ******** SYLLABLES ********* -->
					<!-- <p>{{ this.sorted }}</p>
					<p>{{ this.sylls }}</p>
					<p>STRING: {{ this.searchValue }}</p>
                    <p>WORD: {{ this.word }}</p>
                    <p>Length: {{this.getWordsLength}}, id: {{this.id}}</p> -->

					<!-- <div class="tab-container" id="dragBox" v-if="this.searchedWordResult"> -->
					<!-- <p>Testing add syll from recording: {{ this.newSylls }}</p> -->
					<div class="tab-container" id="dragBox">
						<div
							class="dletter"
							v-for="item in this.sylls"
							:key="item.id"
							:id="item.id"
							@click="playSound('syllOfWord' + item.id)"
						>
							{{ item.name }}
							<audio
								:class="'syllOfWord' + item.id"
								:src="item.sound"
							></audio>
						</div>
					</div>
				</div>
			</ion-content>

			<!-- *****************FOOTER*********************** -->

			<div class="main-footer">
				<div class="dropArea">
					<div id="dropBox" @click="this.toggleOutput($event)">
						<div
							class="dletter"
							v-for="(item, index) in this.sorted"
							:key="index"
							:id="item.id"
							:index="index"
							@click="playSound('sortedSyll' + item.id)"
						>
							{{ item.name }}
							<audio
								id="sortedPlay"
								:class="'sortedSyll' + item.id"
								:src="item.sound"
							></audio>
						</div>
					</div>
				</div>
				<div class="wrapperButton">
					<a class="stringButton" @click="playString"
						><ion-icon id="iIcon" :icon="play"></ion-icon
					></a>
				</div>
			</div>

			<!-- ///////// FIXED CONTROL BUTTONS ///////////////// -->
			<!----- Add button ----->
			<!-- <a class="fixedBtn btnCir add" @click="toggleSidebar">
				<ion-icon class="add-icon" :icon="addSharp"></ion-icon>
			</a> -->

			<div id="loading" class="loading hidden">
				<div style="width: 100%; height: 100%" class="lds-dual-ring">
					<div></div>
					<div>
						<div></div>
					</div>
				</div>
				<div class="loadingNotify">
					Recording data is being processed!
				</div>
			</div>
			<!----- Store button ----->
			<a class="fixedBtn btnCir store" @click="handleStoreWord">
				<ion-icon class="like-icon" :icon="thumbsUp"></ion-icon>
			</a>
			<!----- next button ----->
			<a
				v-if="this.id < this.getWordsLength - 1"
				class="fixedBtn btnRec next"
			>
				<ion-icon
					@click="nextWord"
					class="dir-icon"
					:icon="arrowForward"
				></ion-icon>
			</a>
			<!----- prev button ----->
			<a v-if="this.id > 0" class="fixedBtn btnRec prev">
				<ion-icon
					@click="prevWord"
					class="dir-icon"
					:icon="arrowBack"
				></ion-icon>
			</a>
			<!----- index recording ----->
			<span class="index"
				>{{ this.id + 1 }}/{{ this.getWordsLength }}</span
			>
			<!-- *********************************** -->

			<!-- ///////// ADD SIDE BAR ////////////////////// -->
			<div
				id="sidebar"
				class="hidden panelWrapper"
				@click="this.closePanel($event)"
			>
				<div class="sidebar">
					<div class="headerSidebar">
						<!-- <ion-icon class="controlSideBar" :icon="add"></ion-icon> -->
						<ion-icon
							v-if="!this.isSyllSearch"
							class="controlSideBar"
							:icon="search"
							@click="toggleSyllSearch"
						></ion-icon>
						<ion-icon
							v-if="this.isSyllSearch"
							class="controlSideBar"
							:icon="closeCircleSharp"
							@click="toggleSyllSearch"
						></ion-icon>
						SYLLABLES
						<ion-icon
							class="controlSideBar"
							:icon="close"
							@click="toggleSidebar"
						></ion-icon>
					</div>

					<span id="searchSyll" class="hidden searchBar">
						<input
							class="syllSearch"
							placeholder="Enter syllable to search"
							v-model="syllValue"
						/>
						<ion-icon @click="searchReset" :icon="close"></ion-icon>
					</span>

					<ul v-if="this.syllValue == ''">
						<li
							v-for="(list, ind) in this.getListSyllablesByOrder"
							:key="ind"
						>
							<span
								class="listHeader"
								@click="toggleSyllList('ul' + ind)"
								>{{ HEADER_SYLL_LIST[ind] }}
								<ion-icon :icon="menu"></ion-icon>
							</span>
							<ul class="hidden list-group" :id="'ul' + ind">
								<li
									v-for="item in list"
									:key="item.id"
									:id="item.id"
									@click="playSound('syllListItem' + item.id)"
								>
									{{ item.name }}
									<audio
										:class="'syllListItem' + item.id"
										:src="item.sound"
									></audio>
									<ion-icon
										:icon="add"
										@click="handleAddSyll(item)"
									></ion-icon>
								</li>
							</ul>
						</li>
					</ul>

					<!-- <ul class="list-group" v-if="this.syllValue == ''">                        
						<li
							v-for="item in this.getListSyllables"
							:key="item.id"
							:id="item.id"
							@click="playSyll('/assets/sylls/'+item.name+'.wav')"
						>
							{{ item.name }}
							<audio preload="none"
								:ref="'syll' + item.id"
								:src="item.sound"
							></audio>
							<ion-icon
								:icon="add"
								@click="handleAddSyll(item)"
							></ion-icon>
						</li>
					</ul> -->

					<ul class="list-group" v-if="this.syllValue != ''">
						<!-- <span>{{this.syllValue}}</span> -->
						<li
							v-for="item in this.searchedSyllResult"
							:key="item.id"
							:id="item.id"
							@click="playSound('syllListItem' + item.id)"
						>
							{{ item.name }}
							<audio
								:class="'syllListItem' + item.id"
								:src="item.sound"
							></audio>
							<ion-icon
								:icon="add"
								@click="handleAddSyll(item)"
							></ion-icon>
						</li>
					</ul>
				</div>
			</div>
			<!-- ///////// RECORDER ////////////////////// -->
			<div
				id="recorder"
				class="hidden panelWrapper"
				@click="this.closePanel($event)"
			>
				<div class="recordPanel">
					<div class="headerRecordPanel" id="buttons">
						<span v-if="this.isRecording == 1"
							>Click on mic to record !</span
						>
						<span v-if="this.isRecording == 2"
							>Recording..., click on mic to stop !</span
						>
						<span v-if="this.isRecording == 3">Recorded !</span>

						<ion-icon
							class="closeRecorder"
							:icon="close"
							@click="toggleRecordPanel"
						></ion-icon>
					</div>
					<div
						v-if="this.isRecording != 1"
						class="recordResult"
					></div>
					<section v-if="this.isRecording != 3">
						<canvas class="visualizer" height="60"></canvas>
					</section>
					<div class="stopRecordingWrap">
						<ion-icon
							v-if="this.isRecording == 1"
							class="startRecord"
							:icon="mic"
							@click="
								toggleRecording();
								handleRecord();
							"
						></ion-icon>

						<ion-icon
							v-if="this.isRecording == 2"
							class="stopRecord"
							:icon="micOff"
							@click="toggleRecording()"
						></ion-icon>
						<!-- <span>00:00</span> -->
						<!-- <div
							class="recordedControls"
							v-if="this.isRecording == 3"
						>
							<button>Re-record</button>
							<button>Accept Record</button>
						</div> -->
					</div>
				</div>
			</div>
			<!-- ///////// END ////////////////////// -->
		</div>
	</ion-page>
</template>

<script>
import { createGesture } from "@ionic/vue";
import { IonContent, IonPage, IonIcon } from "@ionic/vue";
// import { axiosInstance } from "../../config/axios";
import axios from "axios";
// import _ from "lodash";
import {
	play,
	repeat,
	close,
	thumbsUp,
	arrowBack,
	arrowForward,
	search,
	mic,
	add,
	addSharp,
	micOff,
	closeCircleSharp,
	menu,
} from "ionicons/icons";
import { defineComponent } from "vue";
import { mapGetters, mapActions } from "vuex";
import { BASE_ADDRESS, HEADER_SYLL_LIST } from "../../config/const";

// import { ref } from "vue";
export default defineComponent({
	name: "AudioRecorder",
	components: {
		IonContent,
		IonPage,
		IonIcon,
	},
	data() {
		return {
			word: null,
			sorted: [],
			sylls: [],
			id: 0,
			// searchValue: "",
			syllValue: "",
			isSearch: false,
			isSyllSearch: false,
			// isSidebar: true,
			// isRecorder: false,
			isTextOutput: true,
			listSounds: [],
			isRecording: 1,
			// newSylls: null,
			BASE_ADDRESS,
			HEADER_SYLL_LIST,
		};
	},
	watch: {
		// sorted: function () {
		// 	this.forceRerender();
		// },
		id: function () {
			this.forceRerender();
		},
	},
	created() {
		this.initial();
	},
	mounted() {
		this.updateEvent(true);
	},
	setup() {
		return {
			repeat,
			play,
			close,
			thumbsUp,
			arrowBack,
			arrowForward,
			search,
			mic,
			addSharp,
			add,
			micOff,
			closeCircleSharp,
			menu,
		};
	},
	computed: {
		...mapGetters([
			"getWordByName",
			"getWordById",
			"getWordsLength",
			"getSyllableById",
			"getListSyllables",
			"getSyllsByName",
			"getListSyllablesByOrder",
		]),
		// searchedWordResult() {
		// 	let w;
		// 	if (this.searchValue) {
		// 		if (this.getWordByName(this.searchValue)) {
		// 			w = this.getWordByName(this.searchValue);
		// 			this.updateWord(w);
		// 		}
		// 	}
		// 	return w;
		// },
		searchedSyllResult() {
			let s = [];
			if (this.syllValue) {
				s = this.getSyllsByName(this.syllValue);
			}
			return s;
		},
		// orderedSylls: function () {
		// 	return _.orderBy(this.sylls, "name");
		// },
	},
	methods: {
		...mapActions([
			"addSyllableIntoWord",
			"addSyllableIntoWordByName",
			// "getStorageWords",
			"storeNewWord",
			"loadingInitialData",
		]),
		async handleLoadingData() {
			await axios.get(BASE_ADDRESS + ":3000/getData").then((response) => {
				let list = JSON.parse(JSON.stringify(response.data));
				this.loadingInitialData(list);
			});
		},
		async initial() {
			await this.handleLoadingData();
			// await this.getStorageWords();
			let x = this.getWordById(this.id);
			this.word = x;
			this.sorted = x.store;
			this.sylls = x.sylls;
			this.addStopSyll();
			this.forceRerender();
		},
		resetThisWord() {
			this.word = this.getWordById(this.id);
			this.sylls = this.word.sylls;
			this.addStopSyll();
		},
		addStopSyll() {
			let stop = { id: 999, name: "___", sound: "/assets/stop.wav" };
			this.sylls.unshift(stop);
		},
		nextWord() {
			this.id = this.id + 1;
			let x = this.getWordById(this.id);
			this.word = x;
			this.sylls = x.sylls;
			this.sorted = x.store;
			this.addStopSyll();
			let box = document.getElementById("wordAudio");
			box.load();
			this.updateDone(this.word.done);

			// this.forceRerender();
		},
		prevWord() {
			this.id = this.id - 1;
			let x = this.getWordById(this.id);
			this.word = x;
			this.sylls = x.sylls;
			this.sorted = x.store;
			this.addStopSyll();
			let box = document.getElementById("wordAudio");
			box.load();
			this.updateDone(this.word.done);
			// this.forceRerender();
		},
		updateSortedListOutput() {
			// this.$nextTick(() => {
			let el = document.getElementById("dropBox");
			if (this.isTextOutput) el.classList.remove("intoText");
			else el.classList.add("intoText");
			// 	if (this.isTextOutput) {
			// 		for (let i = 0; i < dragEl.length; i++) {
			// 			let c = dragEl[i];
			// 			c.classList.remove("intoText");
			// 		}
			// 	} else {
			// 		for (let i = 0; i < dragEl.length; i++) {
			// 			let c = dragEl[i];
			// 			c.classList.add("intoText");
			// 		}
			// 	}
			// });
		},
		updateEvent() {
			// index=1 : drag in , index=2 : drag out
			let dragEl = document.getElementById("dragBox").children;

			for (let i = 0; i < dragEl.length; i++) {
				let c = dragEl[i];
				this.addGestureEvent(c, 1);
			}

			let el = document.getElementById("dropBox").children;

			for (let i = 0; i < el.length; i++) {
				let c = el[i];
				this.addGestureEvent(c, 2);
			}
		},
		onDropbox(x, y) {
			let elem = document.querySelector("#dropBox");
			let dropBox = elem.getBoundingClientRect();
			if (dropBox.left >= x) return false;
			if (dropBox.right <= x) return false;
			if (dropBox.top >= y) return false;
			return true;
		},
		addGestureEvent(c, index) {
			//index = 1: drag from dragBox
			//index = 2: drag from dropBox
			let dropBox = document.querySelector(".dropArea");
			let contentEl = document.querySelector("#icontent");
			const gesture = createGesture({
				el: c,
				gestureName: "drag",
				disableScroll: true,
				threshold: 0,
				gesturePriority: 10,
				onStart: () => {
					contentEl.setAttribute("scroll-y", false);
				},
				onMove: (e) => {
					// console.log(e.event.target);
					c.style.transform = `translate(${e.deltaX}px, ${e.deltaY}px)`;
					if (index == 1) {
						if (this.onDropbox(e.currentX, e.currentY)) {
							dropBox.style.border = "5px dashed yellow";
						} else {
							dropBox.style.border =
								"5px dashed rgb(23, 90, 129)";
						}
					}
				},
				onEnd: (e) => {
					contentEl.setAttribute("scroll-y", true);
					dropBox.style.border = "5px dashed rgb(23, 90, 129)";
					c.style.transform = `translate(0px, 0px)`;
					if (index == 1) {
						if (this.onDropbox(e.currentX, e.currentY)) {
							let a = c.getAttribute("id");
							this.dragAction(a, index, 0);

							let to = document.elementFromPoint(
								e.currentX,
								e.currentY
							);

							if (
								typeof to === "object" &&
								to !== null &&
								"getAttribute" in to
							) {
								if (to.getAttribute("index") !== null) {
									this.dragAction(
										-1,
										3,
										to.getAttribute("index")
									);
								}
							}
						}
					} else {
						if (!this.onDropbox(e.currentX, e.currentY)) {
							let a = c.getAttribute("index");
							this.dragAction(a, index, 0);
						} else {
							let from = e.event.target.getAttribute("index");
							let to = document
								.elementFromPoint(e.currentX, e.currentY)
								.getAttribute("index");
							if (to !== null) {
								this.dragAction(from, 3, to);
							}
						}
					}
				},
			});
			// if (on)
			gesture.enable(true);
			// else gesture.destroy();
		},

		dragAction(itemID, option, to) {
			//option = 1: drag from dragBox to DropBox
			//option = 2: drag from dropBox to DrapBox
			//option = 3: drag from dropBox to DropBox

			let x = JSON.parse(JSON.stringify(this.sylls));
			let y = JSON.parse(JSON.stringify(this.sorted));

			switch (option) {
				case 1: {
					let result = this.FindItemPosition(x, itemID);
					y.push(result[0]);
					this.sorted = y;
					break;
				}
				case 2: {
					y.splice(itemID, 1);
					this.sorted = y;
					break;
				}
				case 3: {
					if (itemID == -1) {
						itemID = y.length - 1;
					}
					y.splice(to, 0, y.splice(itemID, 1)[0]);
					this.sorted = y;

					break;
				}
			}

			this.forceRerender();
		},
		FindItemPosition(list, id) {
			let item = null;
			let pos = null;
			for (let x = 0; x < list.length; x++) {
				if (list[x].id == id) {
					item = list[x];
					pos = x;
					break;
				}
			}
			return [item, pos];
		},
		// updateWord(word) {
		// 	this.word = word;
		// 	this.sylls = word.sylls;
		// 	this.addStopSyll();
		// 	this.sorted = [];
		// 	this.id = word.id;
		// },
		forceRerender() {
			this.updateEvent(false);
			this.$nextTick(() => {
				this.updateEvent(true);
				this.updateSortedListOutput();
			});
			this.updateDone(this.word.done);
		},
		playSound(index) {
			let box = document.querySelector("." + index);
			box.play();
		},
		playSyll(syll) {
			const sound = new Audio(syll);
			sound.play();
		},
		playString() {
			this.listSounds = [];
			this.sorted.forEach((item) => {
				let audio = new Audio(item.sound);
				this.listSounds.push(audio);
			});
			this.playSequence();
		},
		playSequence() {
			if (this.listSounds.length > 0) {
				this.listSounds[0].play();
				this.listSounds[0].addEventListener("ended", () => {
					this.listSounds.shift();
					return this.playSequence(this.listSounds);
				});
			}
		},
		searchReset() {
			// this.searchValue = "";
			this.syllValue = "";
		},
		// toggleSearchBox() {
		// 	this.isSearch = !this.isSearch;

		// },
		toggleSidebar() {
			// this.isSidebar = !this.isSidebar;
			let box = document.getElementById("sidebar");
			if (box.classList.contains("hidden")) {
				box.classList.remove("hidden");
			} else {
				box.classList.add("hidden");
			}
		},
		closePanel(e) {
			if (e.target.className == "panelWrapper") {
				let box1 = document.getElementById("recorder");
				let box2 = document.getElementById("sidebar");
				box1.classList.add("hidden");
				box2.classList.add("hidden");
			}
		},
		toggleSyllSearch() {
			this.searchReset();
			this.isSyllSearch = !this.isSyllSearch;
			let box = document.getElementById("searchSyll");
			if (box.classList.contains("hidden")) {
				box.classList.remove("hidden");
			} else {
				box.classList.add("hidden");
			}
		},
		toggleSyllList(index) {
			let box = document.getElementById(index);
			if (box.classList.contains("hidden")) {
				box.classList.remove("hidden");
			} else {
				box.classList.add("hidden");
			}
		},
		toggleRecordPanel() {
			let box = document.getElementById("recorder");
			if (box.classList.contains("hidden")) {
				box.classList.remove("hidden");
			} else {
				box.classList.add("hidden");
			}
			this.isRecording = 1;
		},
		toggleOutput(e) {
			if (!e.target.classList.contains("dletter")) {
				this.isTextOutput = !this.isTextOutput;
				this.updateSortedListOutput();
			}
		},
		toggleRecording() {
			if (this.isRecording == 3) this.isRecording = 1;
			else {
				this.isRecording = this.isRecording + 1;
			}
		},
		async handleAddSyll(syll) {
			let data = {
				wordID: this.word.id,
				addSyll: syll,
			};

			let word = await this.addSyllableIntoWord(data);
			data = { word: JSON.stringify(word) };
			this.storeWord(data);
			let box = document.getElementById("sidebar");
			box.classList.add("hidden");

			this.resetThisWord();
			this.forceRerender();
		},
		async handleRecord() {
			// const record = document.querySelector('.startRecord');
			const canvas = document.querySelector(".visualizer");

			let audioCtx;
			audioCtx = new AudioContext();
			let mediaStream = null;
			const canvasCtx = canvas.getContext("2d");
			var leftchannel = [];
			var rightchannel = [];
			var recorder = null;
			var recordingLength = 0;
			// var volume = null;
			var sampleRate = 44100;
			var blob = null;

			let self = this;
			const clipContainer = document.createElement("article");

			const audio = document.createElement("audio");
			const recordButton = document.createElement("button");
			const acceptButton = document.createElement("button");

			navigator.getUserMedia =
				navigator.getUserMedia ||
				navigator.webkitGetUserMedia ||
				navigator.mozGetUserMedia ||
				navigator.msGetUserMedia;
			navigator.getUserMedia(
				{
					audio: true,
				},
				function (e) {
					// creates the audio context
					window.AudioContext =
						window.AudioContext || window.webkitAudioContext;

					mediaStream = audioCtx.createMediaStreamSource(e);
					visualize(e);

					var bufferSize = 2048;
					var numberOfInputChannels = 2;
					var numberOfOutputChannels = 2;
					if (audioCtx.createScriptProcessor) {
						recorder = audioCtx.createScriptProcessor(
							bufferSize,
							numberOfInputChannels,
							numberOfOutputChannels
						);
					} else {
						recorder = audioCtx.createJavaScriptNode(
							bufferSize,
							numberOfInputChannels,
							numberOfOutputChannels
						);
					}

					recorder.onaudioprocess = function (e) {
						leftchannel.push(
							new Float32Array(e.inputBuffer.getChannelData(0))
						);
						rightchannel.push(
							new Float32Array(e.inputBuffer.getChannelData(1))
						);
						recordingLength += bufferSize;
					};

					mediaStream.connect(recorder);
					recorder.connect(audioCtx.destination);

					// STOP BUTTON
					const stop = document.querySelector(".stopRecord");
					stop.addEventListener("click", function () {
						// stop recording
						recorder.disconnect(audioCtx.destination);
						mediaStream.disconnect(recorder);

						// we flat the left and right channels down
						// Float32Array[] => Float32Array
						var leftBuffer = flattenArray(
							leftchannel,
							recordingLength
						);
						var rightBuffer = flattenArray(
							rightchannel,
							recordingLength
						);
						// we interleave both channels together
						// [left[0],right[0],left[1],right[1],...]
						var interleaved = interleave(leftBuffer, rightBuffer);

						// we create our wav file
						var buffer = new ArrayBuffer(
							44 + interleaved.length * 2
						);
						var view = new DataView(buffer);

						// RIFF chunk descriptor
						writeUTFBytes(view, 0, "RIFF");
						view.setUint32(4, 44 + interleaved.length * 2, true);
						writeUTFBytes(view, 8, "WAVE");
						// FMT sub-chunk
						writeUTFBytes(view, 12, "fmt ");
						view.setUint32(16, 16, true); // chunkSize
						view.setUint16(20, 1, true); // wFormatTag
						view.setUint16(22, 2, true); // wChannels: stereo (2 channels)
						view.setUint32(24, sampleRate, true); // dwSamplesPerSec
						view.setUint32(28, sampleRate * 4, true); // dwAvgBytesPerSec
						view.setUint16(32, 4, true); // wBlockAlign
						view.setUint16(34, 16, true); // wBitsPerSample
						// data sub-chunk
						writeUTFBytes(view, 36, "data");
						view.setUint32(40, interleaved.length * 2, true);

						// write the PCM samples
						var index = 44;
						var volume = 1;
						for (var i = 0; i < interleaved.length; i++) {
							view.setInt16(
								index,
								interleaved[i] * (0x7fff * volume),
								true
							);
							index += 2;
						}

						// our final blob
						blob = new Blob([view], { type: "audio/wav" });

						clipContainer.classList.add("clip");
						audio.setAttribute("controls", "");
						clipContainer.appendChild(audio);
						clipContainer.appendChild(recordButton);
						clipContainer.appendChild(acceptButton);

						let wrapper = document.querySelector(".recordResult");
						// console.log(wrapper.children[1]);
						// let soundClips =
						// 	wrapper.querySelector(".recordResult");
						// console.log(soundClips);
						wrapper.appendChild(clipContainer);
						recordButton.textContent = "Re-record";
						recordButton.className = "reRecord";
						acceptButton.textContent = "Accept";
						acceptButton.className = "accept";

						const audioURL = window.URL.createObjectURL(blob);
						audio.src = audioURL;
						// console.log("recorder stopped");

						recordButton.onclick = function () {
							self.isRecording = 1;
							return;
						};
						acceptButton.onclick = function () {
							let loading = document.getElementById("loading");
							loading.classList.remove("hidden");

							var blobToBase64 = function (blob, cb) {
								var reader = new FileReader();
								reader.onload = function () {
									var dataUrl = reader.result;
									var base64 = dataUrl.split(",")[1];
									cb(base64);
								};
								reader.readAsDataURL(blob);
							};
							blobToBase64(blob, function (base64) {
								// encode
								var update = { blob: base64 };
								axios
									.post(
										BASE_ADDRESS + ":3000/sendFile",
										update
									)
									.then(() => {
										self.loadingRecordingSylls();
										self.toggleRecordPanel();

										return;
									});
							});
						};
					});
				},
				function (e) {
					console.error(e);
				}
			);

			function flattenArray(channelBuffer, recordingLength) {
				var result = new Float32Array(recordingLength);
				var offset = 0;
				for (var i = 0; i < channelBuffer.length; i++) {
					var buffer = channelBuffer[i];
					result.set(buffer, offset);
					offset += buffer.length;
				}
				return result;
			}

			function interleave(leftChannel, rightChannel) {
				var length = leftChannel.length + rightChannel.length;
				var result = new Float32Array(length);

				var inputIndex = 0;

				for (var index = 0; index < length; ) {
					result[index++] = leftChannel[inputIndex];
					result[index++] = rightChannel[inputIndex];
					inputIndex++;
				}
				return result;
			}

			function writeUTFBytes(view, offset, string) {
				for (var i = 0; i < string.length; i++) {
					view.setUint8(offset + i, string.charCodeAt(i));
				}
			}

			function visualize(stream) {
				if (!audioCtx) {
					audioCtx = new AudioContext();
				}

				const source = audioCtx.createMediaStreamSource(stream);

				const analyser = audioCtx.createAnalyser();
				analyser.fftSize = 2048;
				const bufferLength = analyser.frequencyBinCount;
				const dataArray = new Uint8Array(bufferLength);

				source.connect(analyser);
				//analyser.connect(audioCtx.destination);

				draw();

				function draw() {
					const WIDTH = canvas.width;
					const HEIGHT = canvas.height;
					requestAnimationFrame(draw);
					analyser.getByteTimeDomainData(dataArray);
					canvasCtx.fillStyle = "rgb(225, 222, 250)";
					canvasCtx.fillRect(0, 0, WIDTH, HEIGHT);
					canvasCtx.lineWidth = 2;
					canvasCtx.strokeStyle = "rgb(24, 16, 97)";
					canvasCtx.beginPath();
					let sliceWidth = (WIDTH * 1.0) / bufferLength;
					let x = 0;

					for (let i = 0; i < bufferLength; i++) {
						let v = dataArray[i] / 128.0;
						let y = (v * HEIGHT) / 2;

						if (i === 0) {
							canvasCtx.moveTo(x, y);
						} else {
							canvasCtx.lineTo(x, y);
						}

						x += sliceWidth;
					}

					canvasCtx.lineTo(canvas.width, canvas.height / 2);
					canvasCtx.stroke();
				}
			}
		},
		async loadingRecordingSylls() {
			const self = this;
			await axios
				.get(BASE_ADDRESS + ":3000/read?file=test")
				.then((response) => {
					console.log(response);
					if (response !== null || response.data.length > 0) {
						let list = JSON.stringify(response.data);
						list = list
							.replaceAll("[", "")
							.replaceAll("]", "")
							.replaceAll(" ", "");
						list = list
							.replaceAll("'", "")
							.replace(/(?:\\[rn])+/g, "");
						list = JSON.parse(list);
						list = list.split(",");
						self.handleAddingNewSylls(list);
						// self.resetThisWord();
					}
					// assigns the data from api call to the users variable
				})
				.catch(function () {
					// console.log("Error!("+error+")");
					let loading = document.getElementById("loading");
					loading.classList.add("hidden");
					return;
				});
		},

		async handleAddingNewSylls(syllNames) {
			console.log(syllNames);
			let data = {
				wordID: this.word.id,
				syllNames: syllNames,
			};
			let word = await this.addSyllableIntoWordByName(data);
			data = { word: JSON.stringify(word) };
			this.storeWord(data);
			let loading = document.getElementById("loading");
			loading.classList.add("hidden");
			this.initial();
			// this.sorted = [];
			//update word list with new sylls into database
		},
		async handleStoreWord() {
			if (this.sorted.length > 0) {
				let data = {
					wordID: this.word.id,
					sorted: this.sorted,
				};
				let word = await this.storeNewWord(data);
				data = { word: JSON.stringify(word) };
				this.storeWord(data);
				//alert("the word has been stored!");
				this.initial();
			} else {
				alert("No syllables has been chosen!");
			}
		},
		async storeWord(data) {
			await axios.post(BASE_ADDRESS + ":3000/save", data);
			// .then((response) => console.log(response.data));
		},
		updateDone(done) {
			// console.log(done);
			let box = document.getElementById("dragBox");
			if (done) {
				if (!box.classList.contains("done")) box.classList.add("done");
			} else {
				box.classList.remove("done");
			}
		},
	},
});
</script>

<style>
/* .item {
	width: 100px;
	height: 100px;
	background-color: darkslategrey;
	color: white;
	margin: 10px;
	padding: 5px;
}
.drop-zone {
	width: 90%;
	background-color: rgb(71, 17, 170);
	margin: 10px auto;
	padding: 10px;
	min-height: 20px;
	display: flex;
}

.item:nth-last-of-type(1) {
	margin-bottom: 0;
} */
</style>