/* ======== BODY CONTENT ========= */

/* ion-content, #icontent{
    overflow: hidden;
} */
.hidden{
    display: none;
}

#contentBody{
    height: calc(100% - 65px);
    /* overflow: hidden; */
}

#contentWrapper{
    /* height: calc(100vh); */
    padding: 5px 48px;
    background-color: #fff;
}

/* ======== HEADER ========= */
.iTitle{
    text-align: center;
    font-family: "Arial","Papyrus","Lucida Handwriting","Brush Script MT" ;
    font-size: 17px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 7px;
    text-decoration: none;
    letter-spacing: 0.4px;
}
.headerWrapper{
    border-bottom: 1px solid #eee ;
    opacity: 1;
    display: block;
    width: 100%;
    z-index: 6;
    box-shadow: 0 0 3px;
}

/* ======== FOOTER TABS ========= */
#ifooter{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 47px;
    z-index: 0;
}

ion-tabs ion-tab-bar{
    border: 0;
    display: flex;
    justify-content: space-between;
    padding: 0px; 
    background-color: #180f34;
}

ion-tabs ion-icon {
    font-size: 1.6rem;
}

ion-tabs ion-tab-button{
    background-color: #180f34;
}

ion-tabs .tab-selected{
    color: rgb(240, 245, 215);
    background-color: #211545;
}
/* ======== SINGLE MAIN ========= */
.searchWrapper{
    /* background-color: #fbfbfb; */
    /* background-color: green; */
    padding: 5px 45px;
    width: 100%;
    display: flex;
    height: 60px;
}

.searchBar{
    margin-left: 3px;
    width: 100%;
    border: 0;
    position: relative;
}
input:focus{
    outline: none;
}
.searchInput{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    height: 100%;
    background-color: #e3e9ffa6;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 20px;
    padding-right: 50px;
    padding-left: 20px;
    color: #000;
}
.searchBar > ion-icon{
    position: absolute;
    display: block;
    top: 5px;
    right: 0px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: rgb(129, 127, 127);
}

.tab-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: calc(100vh * 0.78) ;
    /* min-height: 100vh ; */
    background-color: #fbfbfb;
    overflow: hidden;
}
.done {
    background-color: #fffc8e73;
}
.main-footer{
    width: 100%;
    display: flex;
    max-height: 70px;
    min-height: 70px;
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(9, 3, 31);
}
.wrapperButton{
    width: 80px;
}
.wrapperButton > .stringButton{
    display: block;
    margin: 0 auto;
    height: 70px;
    width: 70px;
    text-align: center;
    background-color: rgb(35, 136, 194);
    font-size: 50px;
    color: white;
    border: 5px solid rgb(10, 39, 94); 
    border-radius: 50%;   
}
.wrapperButton > .stringButton:hover{
    background-color: rgb(7, 76, 116);
}
#iIcon{
    padding-top: 5px;
}


.tab-container > .dletter {
    background-color: #B9D980;
    color: #000;
    margin: 3px;
    width: 120px;
    height: 55px;
    padding: 15px 0;
    text-align: center;
    font-weight: 600px;
    font-size: 35px;
    cursor: pointer;
    border: 1px solid #eee;
    background-image: linear-gradient(-180deg, rgb(224, 222, 247) 1%, #ffffff 100%);
    box-shadow: 0 0px 0px 0 #fafafa, 
                0 -1px 2px #3d3d3d inset, 
                0 1px 1px #948eca inset, 
                0 1px 1px 0 #b2b3d4 inset;
    /* border: 1px solid #3d3d3d,  */
;
}
.tab-container > .dletter:hover {
    border: 1px solid rgb(10, 5, 85);
}
.index{
    position:fixed;
    color: #9689bf;
    font-size: 25px;
    bottom: 10%;
    right: 90px;
}
#dropBox{
    display: flex;
    width: 100%;
    height: 70px;
}
#dropBox > *{
    width: fit-content;
    color: white;
    margin: 7px 2px;
    padding: 15px 6px;
    font-size: 18px;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 3px;
    background-image: linear-gradient(-180deg, rgb(14, 1, 58) 1%, #120744 100%);
    /* box-shadow: 0 0px 0px 0 #fafafa, 
                0 -1px 2px #2721e0 inset, 
                0 1px 1px #4330f0 inset, 
                0 1px 1px 0 #b2b3d4 inset; */
    border: 1px solid #b2b3d4;
    /* padding-bottom: 15px; */
    
}

/* #dropBox .dletter:hover{
    border: 1px solid rgb(24, 119, 209);   
}
#dropBox .dletter:focus{
    outline: none;
    border: none;  
} */
.dropArea{
    min-width: calc(100% - 80px);
    max-width: calc(100% - 80px);
    overflow-x: auto;
    overflow-y: hidden;
    border: 5px dashed rgb(23, 90, 129);
    height: 75px;
}

#dropBox.intoText {
    margin: 7px 0px;
	padding: 15px 0px;
	border: none;
}


/* ======== SEARCH */
.searchedWord{
    width: 100%;
    color: rgb(10, 39, 94);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    padding: 10px 0;
    /* padding: 20px; */
}
.searchedWord > .repeatButton{
    margin: 0 20px;
    height: 30px;
    width: 40px;
    text-align: center;
    border: 1px solid rgb(10, 39, 94); 
    background-color: rgb(7, 76, 116);
    color: #fff;
}
.searchedWord > .repeatButton:hover{
    background-color: rgb(95, 162, 201);
    color: rgb(10, 39, 94);

}
.searchedWord audio {
    height: 40px;
    width: 100%;
}
.searchOpen{
    height: 40px;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    background-image: linear-gradient( 
        -180deg, rgb(255 255 255) 1%, #6cfbfe70 100%);
    box-shadow: 0 0px 0px 0 #fafafa, 
                0 -1px 2px #3d3d3d inset, 
                0 1px 1px #948eca inset, 
                0 1px 1px 0 #b2b3d4 inset;
    color: rgb(0, 0, 0);
    margin: 0px 10px;
    cursor: pointer;
}
.searchClose{
    height: 40px;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    background-image: linear-gradient(
        -180deg, rgb(255 255 255) 1%, #68d0ffb3 100%);
    box-shadow: 0 0px 0px 0 #fafafa, 
                0 -1px 2px #3d3d3d inset, 
                0 1px 1px #948eca inset, 
                0 1px 1px 0 #b2b3d4 inset;
    color: rgb(255 0 32);
    margin: 0 10px;
    cursor: pointer;
}
.record{
    height: 40px;
    width: 55px;
    text-align: center;
    border-radius: 20%;
    background-image: linear-gradient(
        -180deg, rgb(254 254 254) 1%, #feff56cc 100%);
    box-shadow: 0 0px 0px 0 #fafafa, 
                0 -1px 2px #3d3d3d inset, 
                0 1px 1px #948eca inset, 
                0 1px 1px 0 #b2b3d4 inset;
    color: #000;
    margin: 0 10px;
    cursor: pointer;
}

/* ==== CONTROLS BUTTON ==== */
.fixedBtn{
    position: fixed;
    display: inline-block;
    text-decoration: none;
    background-color: #fff;
    /* color: rgb(173, 248, 164); */
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    transition: .4s;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.fixedbtn:hover{
    background: #87befd;
     box-shadow: 0px 0px 0px 5px #668ad8;
     color: rgb(10, 39, 94);
}
.btnCir{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    -webkit-box-shadow: 0px 0px 3px 0px #070150;
    -moz-box-shadow: 0px 0px 3px 0px #070150;
    box-shadow: 0px 0px 3px 0px #070150;
}
.btnRec{
    border-radius: 1%;
    width: 50px;
    height: 35px;
    -webkit-box-shadow: 0px 0px 1px 1px #dcd7f1;
    -moz-box-shadow: 0px 0px 1px 1px #dcd7f1;
    box-shadow: 0px 0px 1px 1px #dcd7f1;
}

.next{
    right: 0px;
    top: 200px;
    height: 40px;
    background-color: #2f3050;
}
.prev{
    left: 0px;
    top: 200px;
    height: 40px;
    background-color: #2f3050;
}
.dir-icon{
    color: #edeeff;
    font-size: 40px;
}
.store{
    right: 5px;
    bottom: 80px;
}
.like-icon{
    color: #0ba109;
    font-size: 25px; 
    /* padding-top: 8px; */
}
.add{
    left: 5px;
    bottom: 80px;
}
.add-icon{
    color: #0a9dc7;
    font-size: 37px;
    padding-top: 4px;
}
/* ==== NAV BAR ==== */
.sidebar {
    width: 330px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #f9f9fd;
    border-right: solid 1px #d3cab9;
    padding: 8px;
    overflow-y: auto;
    color: #000;
}
.listHeader{
    font-size: 35px;
    display: flex;
    font-weight: 700;
    color: #2515d1;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 5px;
}
.list-group li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(186, 183, 197);
    padding-bottom: 8px;
    font-size: 30px;
    margin-left: 15px;
}
.list-group li ion-icon {
    border-radius: 50%;
    background-color: rgb(5, 7, 126);
    color: #fff;
    font-weight: 800px;
    font-size: 30px;
    padding: 5px;
}

.headerSidebar{
    padding-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    font-weight: 600px;
    font-family: ari;
    color:rgb(14, 1, 58);
}
.controlSideBar{
    color: #fff;
    font-weight: 800px;
    font-size: 40px;
    background-color: #0a9dc7;
}

.syllSearch{
    width: 100%;
    line-height: 50px;
    background-color: #9ce9ff52;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 20px;
    padding-right: 50px;
    padding-left: 20px;
    color: #000;
}
.syllSearch + ion-icon{
    top: -10px;
}
/* ///////// RECORDER ///////// */
.panelWrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 10;
}
.headerRecordPanel{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.closeRecorder{
    color: rgb(97, 98, 99);
    font-weight: 800px;
    font-size: 45px;
}
.recordPanel{
    background-color: #f9f9fd;
    opacity: 1;
    position: absolute;
    /* top: 250px;
    bottom: 250px;
    left: 50px;
    right: 50px; 
    border: solid 1px #d3cab9; */
    z-index: 20;
    color: #000;
    border: 1px solid #eee;
    top: 25%;
    bottom: 30%;
    left:5%;
    right: 5%;
}

.stopRecordingWrap{
    display: flex;
    justify-content: center;
}
.stopRecordingWrap span{
    font-size: 20px;
    color: rgb(138, 3, 3);
}
/* .sound-clips {
    box-shadow: inset 0 3px 4px rgba(0,0,0,0.7);
    background-color: rgba(0,0,0,0.1);
    height: calc(100% - 240px - 0.7rem);
    overflow: scroll;
  } */
.clip{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}
.clip > audio {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
}
.clip > button {
    border-radius: 3px;
    cursor: pointer;
    width: 120px;
    height: 50px;
    color: #fff;
}
.accept{
    background-color: darkblue;
}
.reRecord{
    background-color: darkred;
}
canvas {
    width: 100%;
    display: block;
    margin-top: 1.5 rem;
}
.startRecord, .stopRecord{
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #2f3050;;
    color: #edeeff;
    font-weight: 1800px;
    font-size: 45px;
    text-align: center;
    border-radius: 50%;
    border: 10px solid #2f3050;
    cursor: pointer;
}
/* ======== TAB 1: GRID  ========= */
/* .tab-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.tab-container > .dletter {
    background-color: #B9D980;
    margin: 5px;
    width: 120px;
    height: 55px;
    padding: 15px 0;
    text-align: center;
    font-weight: 600px;
    font-size: 35px;

    cursor: pointer;
    border: 1px solid #eee;
    background-image: linear-gradient(-180deg, rgb(224, 222, 247) 1%, #ffffff 100%);
    box-shadow: 0 0px 0px 0 #fafafa, 
                0 -1px 2px #9493b3 inset, 
                0 1px 1px #948eca inset, 
                0 1px 1px 0 #b2b3d4 inset;
} */

/* ======== TAB 2: WORDS ========= */
/* .searchWrapper{
    background-color: #fbfbfb;
    padding: 5px 15px;
}

.tab-container > .dword{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    width: 170px;
    height: 100px;
    padding-top: 10px;
    margin: 0px 0px 10px 0px;
    border-bottom: 1px solid #fefefe;
    box-shadow: 0 0 3px;
}

.dword > img{
    height: 80px;
    cursor: pointer;
}

.dword > span{
    margin-top: 35px;
    margin-bottom: 25px;
    width: 90px;
    cursor: pointer;
    font-family: arial;
    font-weight: 550;
    font-size: 12px;
    text-align: center;
}
#empty{
    visibility: hidden;
} */

/* ======== TRANSLATE ========= */
/* LANG */
.langWrapper, .iconLang{
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 20px;
    color: #180f34;
    justify-content: center;
    padding: 10px;
}
.langWrapper ion-icon{
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    width: 50px;
    border-radius: 5px;
    background-color: #180f34;
    color: #eee;
}
.langWrapper button{
    background-color: transparent;
}
/* TEXTAREA */
.langArea {
    margin: 0 auto;
    border: 1px solid #eee;
    width: 90%;
}

ion-searchbar{
    padding: 0;
    margin: 0;
}
/* ======== RESPONSIVE ========= */
@media only screen and (min-width: 600px) and (min-height: 550px) {
    /* #banner > img{
        height: 20%;
    } */
    .searchedWord audio {
        height: 50px;
        width: 100%;
    }
    .searchOpen{
        height: 50px;
        width: 50px;       
        margin: 0px 10px;
        margin-left: 50px;
    }
    .searchClose{
        height: 50px;
        width: 50px;
        margin: 0 10px;
        margin-left: 50px;
    }
    .record{
        height: 50px;
        width: 50px;
        margin: 0 10px;
        margin-right: 50px;
    }
    .add{
        left: 20px;
        bottom: 80px;
    }
    .store{
        right: 20px;
        bottom: 80px;
    }
    .prev{
        left: 20px;
        top: 200px;
    }
    .next{
        right: 20px;
        top: 200px;
    }

    #contentWrapper{
        padding: 0px 90px;
    }

    #ifooter{
        height: 65px;
    }

    .wrapperButton{
        max-width: 85px;
    }

    #dropBox > .dletter{
        font-size: 22px;
    }
    
    .recordPanel{
        top: 30%;
        bottom: 30%;
        left:30%;
        right: 30%;
    }
    
    .tab-container > .dletter{
        margin: 20px;
    }
}

/* === LOADING === */
.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: all 0.2s ease;
    background-color: rgba(255, 255, 255, 0.3);
}
.loading.show {
    opacity: 1;
    visibility: visible;
}
.loading .lds-dual-ring {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.3);/* size */
}
@keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lds-dual-ring {
    position: relative;
}

.lds-dual-ring div {
    box-sizing: border-box;
}

.lds-dual-ring>div {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    border: 20px solid #000;
    border-color: #75b2d5 transparent #75b2d5 transparent; /* color */
    -webkit-animation: lds-dual-ring 1s linear infinite;
    animation: lds-dual-ring 1s linear infinite;
}

.lds-dual-ring>div:nth-child(2) {
    border-color: transparent;
}

.lds-dual-ring>div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.lds-dual-ring>div:nth-child(2) div:before,
.lds-dual-ring>div:nth-child(2) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -20px;
    left: 60px;
    background: #75b2d5; /* color */
    border-radius: 50%;
    box-shadow: 0 160px 0 0 #75b2d5; /* color */
}

.lds-dual-ring>div:nth-child(2) div:after {
    left: -20px;
    top: 60px;
    box-shadow: 160px 0 0 0 #75b2d5; /* color */
}

.lds-dual-ring {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

.loadingNotify{
    text-align: center;
    margin-top: 55%;
    color: #0c60ee;
    font-size: 19px;
    font-weight: 500;
}
